web/ServiceAgents.TYS/Service References/tysReference/TYS16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandContracts.TYS.Seguimiento.Output" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandContracts.TYS.Seguimiento.Output" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50030/TYS?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandContracts.Common" />
  <xs:complexType name="InsertarActualizarEmbarqueFluvialOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q1:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idembarque" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarEmbarqueFluvialOutput" nillable="true" type="tns:InsertarActualizarEmbarqueFluvialOutput" />
  <xs:complexType name="ActualizarDetalleEmbarqueOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q2:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddetalleembarque" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActualizarDetalleEmbarqueOutput" nillable="true" type="tns:ActualizarDetalleEmbarqueOutput" />
  <xs:complexType name="InsertarDetalleEtapaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q3:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddetalleetapa" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarDetalleEtapaOutput" nillable="true" type="tns:InsertarDetalleEtapaOutput" />
  <xs:complexType name="InsertarEtapaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q4:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idetapa" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarEtapaOutput" nillable="true" type="tns:InsertarEtapaOutput" />
  <xs:complexType name="ActualizarLiquidacionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q5:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordentrabajo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActualizarLiquidacionOutput" nillable="true" type="tns:ActualizarLiquidacionOutput" />
  <xs:complexType name="InsertarArchivoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q6:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idarchivo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarArchivoOutput" nillable="true" type="tns:InsertarArchivoOutput" />
  <xs:complexType name="InsertarHelpResourcesOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q7:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idhelp" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarHelpResourcesOutput" nillable="true" type="tns:InsertarHelpResourcesOutput" />
  <xs:complexType name="InsertarActualizarIncidenteOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q8:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idincidencia" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarIncidenteOutput" nillable="true" type="tns:InsertarActualizarIncidenteOutput" />
  <xs:complexType name="TransbordarVehiculoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q9:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idvehiculo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransbordarVehiculoOutput" nillable="true" type="tns:TransbordarVehiculoOutput" />
  <xs:complexType name="InsertarActualizarDespachoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q10:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddespacho" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDespachoOutput" nillable="true" type="tns:InsertarActualizarDespachoOutput" />
  <xs:complexType name="InsertarActualizarDetalleValijaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q11:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddespachovalija" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDetalleValijaOutput" nillable="true" type="tns:InsertarActualizarDetalleValijaOutput" />
  <xs:complexType name="InsertarActualizarManifiestoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q12:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idmanifiesto" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarManifiestoOutput" nillable="true" type="tns:InsertarActualizarManifiestoOutput" />
  <xs:complexType name="InsertarActualizarCargaPrecintoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q13:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcargaprecinto" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarCargaPrecintoOutput" nillable="true" type="tns:InsertarActualizarCargaPrecintoOutput" />
  <xs:complexType name="InsertarActualizarServicioOperacionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q14:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idserviciooperacion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarServicioOperacionOutput" nillable="true" type="tns:InsertarActualizarServicioOperacionOutput" />
  <xs:complexType name="InsertarActualizarChoferOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q15:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idchofer" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarChoferOutput" nillable="true" type="tns:InsertarActualizarChoferOutput" />
  <xs:complexType name="InsertarActualizarOperacionCargaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q16:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcarga" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarOperacionCargaOutput" nillable="true" type="tns:InsertarActualizarOperacionCargaOutput" />
  <xs:complexType name="InsertarActualizarDetalleTarifaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q17:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddetalletarifa" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDetalleTarifaOutput" nillable="true" type="tns:InsertarActualizarDetalleTarifaOutput" />
  <xs:complexType name="InsertarActualizarCamionCompletoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q18:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcamioncompleto" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarCamionCompletoOutput" nillable="true" type="tns:InsertarActualizarCamionCompletoOutput" />
  <xs:complexType name="InsertarActualizarTarifaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q19:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idtarifa" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarTarifaOutput" nillable="true" type="tns:InsertarActualizarTarifaOutput" />
  <xs:complexType name="InsertarActualizarGuiaRemisionClienteOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q20:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idguiaremisioncliente" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarGuiaRemisionClienteOutput" nillable="true" type="tns:InsertarActualizarGuiaRemisionClienteOutput" />
  <xs:complexType name="InsertarActualizarOrdenTrabajoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q21:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idordentrabajo" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarOrdenTrabajoOutput" nillable="true" type="tns:InsertarActualizarOrdenTrabajoOutput" />
  <xs:complexType name="InsertarActualizarDetalleRutaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q22:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddetalleruta" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDetalleRutaOutput" nillable="true" type="tns:InsertarActualizarDetalleRutaOutput" />
  <xs:complexType name="InsertarActualizarRutaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q23:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idruta" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarRutaOutput" nillable="true" type="tns:InsertarActualizarRutaOutput" />
  <xs:complexType name="InsertarActualizarDireccionOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q24:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="iddireccion" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarDireccionOutput" nillable="true" type="tns:InsertarActualizarDireccionOutput" />
  <xs:complexType name="InsertarActualizarFormulaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q25:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idformula" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarFormulaOutput" nillable="true" type="tns:InsertarActualizarFormulaOutput" />
  <xs:complexType name="InsertarActualizarClienteOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q26:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarClienteOutput" nillable="true" type="tns:InsertarActualizarClienteOutput" />
  <xs:complexType name="InsertarActualizarVehiculoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q27:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idvehiculo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarVehiculoOutput" nillable="true" type="tns:InsertarActualizarVehiculoOutput" />
  <xs:complexType name="InsertarActualizarZonaDistritoOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q28:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarZonaDistritoOutput" nillable="true" type="tns:InsertarActualizarZonaDistritoOutput" />
  <xs:complexType name="InsertarActualizarZonaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q29="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q29:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idzona" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarZonaOutput" nillable="true" type="tns:InsertarActualizarZonaOutput" />
  <xs:complexType name="InsertarActualizarValorTablaOutput">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q30="http://schemas.datacontract.org/2004/07/CommandContracts.Common" base="q30:CommandResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="idvalortabla" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InsertarActualizarValorTablaOutput" nillable="true" type="tns:InsertarActualizarValorTablaOutput" />
</xs:schema>