web/ServiceAgents.TYS/Service References/tysReference/TYS24.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Configuracion.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Configuracion.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50030/TYS?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarMultiusoPorTipoResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarMultiusoPorTipoDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMultiusoPorTipoResult" nillable="true" type="tns:ListarMultiusoPorTipoResult" />
  <xs:complexType name="ArrayOfListarMultiusoPorTipoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarMultiusoPorTipoDto" nillable="true" type="tns:ListarMultiusoPorTipoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarMultiusoPorTipoDto" nillable="true" type="tns:ArrayOfListarMultiusoPorTipoDto" />
  <xs:complexType name="ListarMultiusoPorTipoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="mlt_dat_fecha_creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="mlt_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="mlt_int_id_padre" type="xs:int" />
      <xs:element minOccurs="0" name="mlt_str_alcance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_usuario_creacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_valor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mlt_str_valor2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mtl_str_tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarMultiusoPorTipoDto" nillable="true" type="tns:ListarMultiusoPorTipoDto" />
</xs:schema>