web/ServiceAgents.TYS/Service References/tysReference/TYS22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Facturacion.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50030/TYS?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarComprobanteDetallesParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcomprobante" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarComprobanteDetallesParameters" nillable="true" type="tns:ListarComprobanteDetallesParameters" />
  <xs:complexType name="ListarPreliquidacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q2:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroliquidacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPreliquidacionParameters" nillable="true" type="tns:ListarPreliquidacionParameters" />
  <xs:complexType name="ListarDocumentosParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q3:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idestacionorigen" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDocumentosParameters" nillable="true" type="tns:ListarDocumentosParameters" />
  <xs:complexType name="ListarComprobantesParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q4:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idestado" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="numerocomprobante" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="numeroliquidacion" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarComprobantesParameters" nillable="true" type="tns:ListarComprobantesParameters" />
  <xs:complexType name="ListarOTSxIdsParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q5:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="ots" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarOTSxIdsParameters" nillable="true" type="tns:ListarOTSxIdsParameters" />
  <xs:complexType name="ListarCompletadoPreliquidacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q6:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpreliquidacion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarCompletadoPreliquidacionParameters" nillable="true" type="tns:ListarCompletadoPreliquidacionParameters" />
  <xs:complexType name="ObtenerNumeroComprobanteParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q7:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idestacionorigen" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idnumerodocumento" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idtipocomprobante" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="idusuario" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerNumeroComprobanteParameters" nillable="true" type="tns:ObtenerNumeroComprobanteParameters" />
  <xs:complexType name="ObtenerComprobanteParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q8:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcomprobante" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="idpreliquidacion" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerComprobanteParameters" nillable="true" type="tns:ObtenerComprobanteParameters" />
  <xs:complexType name="ObtenerFactElectronicaParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q9:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocEnty" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerFactElectronicaParameters" nillable="true" type="tns:ObtenerFactElectronicaParameters" />
  <xs:complexType name="ObtenerUltimaPreliquidacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q10:QueryParameter">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerUltimaPreliquidacionParameters" nillable="true" type="tns:ObtenerUltimaPreliquidacionParameters" />
  <xs:complexType name="ObtenerPreliquidacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q11:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpreliquidacion" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObtenerPreliquidacionParameters" nillable="true" type="tns:ObtenerPreliquidacionParameters" />
  <xs:complexType name="ActualizarOTComprobanteParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q12:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechacomprobante" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="idsordentrabajo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActualizarOTComprobanteParameters" nillable="true" type="tns:ActualizarOTComprobanteParameters" />
  <xs:complexType name="VincularPreliquidacionOTParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q13:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idpreliquidacion" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="idsordentrabajo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VincularPreliquidacionOTParameters" nillable="true" type="tns:VincularPreliquidacionOTParameters" />
  <xs:complexType name="ListarPendientePreliquidacionParameters">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q14:QueryParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="idcliente" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="iddestino" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="numcp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarPendientePreliquidacionParameters" nillable="true" type="tns:ListarPendientePreliquidacionParameters" />
</xs:schema>