web/ServiceAgents.TYS/Service References/tysReference/TYS23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Liquidacion.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.TYS.Liquidacion.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50030/TYS?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarDiasTranscurridosResults">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarDiasTranscurridosDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarDiasTranscurridosResults" nillable="true" type="tns:ListarDiasTranscurridosResults" />
  <xs:complexType name="ArrayOfListarDiasTranscurridosDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarDiasTranscurridosDto" nillable="true" type="tns:ListarDiasTranscurridosDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarDiasTranscurridosDto" nillable="true" type="tns:ArrayOfListarDiasTranscurridosDto" />
  <xs:complexType name="ListarDiasTranscurridosDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiasTranscurridos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarDiasTranscurridosDto" nillable="true" type="tns:ListarDiasTranscurridosDto" />
</xs:schema>