web/ServiceAgents.Core/Service References/CoreReference/Core7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common.Seguridad.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50040/Core?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QueryContracts.Common" />
  <xs:complexType name="ListarMenusxRolesResult">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/QueryContracts.Common" base="q1:QueryResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hits" nillable="true" type="tns:ArrayOfListarMenusxRolesDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesResult" nillable="true" type="tns:ListarMenusxRolesResult" />
  <xs:complexType name="ArrayOfListarMenusxRolesDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListarMenusxRolesDto" nillable="true" type="tns:ListarMenusxRolesDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListarMenusxRolesDto" nillable="true" type="tns:ArrayOfListarMenusxRolesDto" />
  <xs:complexType name="ListarMenusxRolesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="pag_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_nivel" type="xs:int" />
      <xs:element minOccurs="0" name="pag_int_secuencia" type="xs:int" />
      <xs:element minOccurs="0" name="pag_str_action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_attributes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_codmenu_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_controller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_descrip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_tipomenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pag_str_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="sis_int_id" type="xs:int" />
      <xs:element minOccurs="0" name="srp_seleccion" type="xs:int" />
      <xs:element minOccurs="0" name="srp_str_codpermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListarMenusxRolesDto" nillable="true" type="tns:ListarMenusxRolesDto" />
</xs:schema>